<p *ngIf="myInfo == undefined">Failed to get UserInfo</p>
<div *ngIf="myInfo != undefined">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
                <a href="mailto:{{myInfo.MixID}}@mix.wvu.edu">MixID: {{myInfo.MixID}}</a>
            </div>
            <div class="flex-column">
                <a href="{{myInfo.GitHub}}">GitHub: {{myInfo.GitHub}}</a>
            </div>
        </div>
    </div>
</div>