#navbarDropdown {
    background-color: black;
    border-radius: 30px;
}

#navbarDropdown:hover {
    background-color: #4c4c4c;
}

#userIcon{
    border-radius: 50%;
    background-color: black;
    fill: white;
}

#dropdownArrow{
    fill: white; 
}
