<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-2 text-white text-decoration-none">
        <img src="./assets/Spotify_Logo_CMYK_White.png" width="120px">
    </a>

    <spotify-sidebar-buttons>Loading sidebar buttons</spotify-sidebar-buttons>

    <spotify-sidebar-playlist>Loading Playlist</spotify-sidebar-playlist>

    <ul class="nav nav-pills flex-column mb-auto mt-4">
        <li class="nav-item">
            <a href="#" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="24" height="24">
                    <use xlink:href="./assets/bootstrap-icons.svg#arrow-down-circle"></use>
                </svg>
                Install App
            </a>
        </li>
    </ul>

</div>